/* Website navigation */

body {
    font-family: 'Arial';
}

.docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.docs-sidebar .nav > li > a {
    color: #CCC;
    background: #FFF;
    display: block;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 500;
}

.docs-sidebar .nav > li > a.active {
    color: #000;
    font-weight: 600;
    background: #FFF;
    border-bottom-style: solid;
    border-bottom-color: #2DB3D1;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #FDFCFC;
    border: 1px solid #F4F4F4;
    border-radius: 2px;
}
