body {
    padding-top: 100px;
    font-family: 'Arial';
}

.navbar-fixed-top {
    background: #000000 !important;
    border-bottom-style: solid !important;
    border-bottom-color: #2DB3D1 !important;
    border-bottom-width: 5px !important;
}

.navbar-brand {
    margin-top: 8px;
    font-size: 24px;
}

.docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.docs-sidebar .nav > li > a {
    color: #CCC;
    background: #FFF;
    display: block;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 500;
}

.docs-sidebar .nav > li > a.active {
    color: #000;
    font-weight: 600;
    background: #FFF;
    border-bottom-style: solid;
    border-bottom-color: #2DB3D1;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 27px;
}
.nav-sidebar > li > a.active {
    padding-left: 20px;
    border-left: #2DB3D1;
    border-left-style: solid;
    border-left-width: 7px;
    background: #ECECEC;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.sidebar-heading {
    padding-left: 0px;
    text-transform: uppercase;
    font-weight: 800;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/**
 *  Copyright (c) 2015, The Regents of the University of California,
 *  through Lawrence Berkeley National Laboratory (subject to receipt
 *  of any required approvals from the U.S. Dept. of Energy).
 *  All rights reserved.
 *
 *  This source code is licensed under the BSD-style license found in the
 *  LICENSE file in the root directory of this source tree.
 */

.Select {
  position: relative;
}
.Select-control {
  height: 28px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-color: #d9d9d9 #cccccc #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  cursor: default;
  outline: none;
  padding: 4px 52px 4px 10px;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffffff;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #0088cc #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
  color: #555555;
  padding: 4px 52px 4px 10px;
  position: absolute;
  top: 2px;
  left: 0;
  right: -15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333333;
}
.Select-value {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: -15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-value {
  color: #333333;
}
.Select-input > input {
  cursor: default;
  background: none transparent;
  box-shadow: none;
  height: auto;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select-clear {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 3px 10px;
  position: absolute;
  right: 17px;
  top: -2px;
}

.Select-clear:hover {
  color: #616161;
}
.Select-clear > span {
  font-size: 1.1em;
}
.Select-arrow-zone {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  cursor: pointer;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5px);
  position: absolute;
  right: 10px;
  top: 12px;
  width: 0;
  cursor: pointer;
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #f2f9fc;
  color: #333333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.Select-noresults,
.Select-search-prompt,
.Select-searching {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select.is-multi .Select-control {
  padding: 0px 52px 2px 3px;
}
.Select.is-multi .Select-input {
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 2px;
  padding: 3px 0;
}
.Select-item {
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 1em;
  margin: 2px;
  height: 20px;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  height: 20px;
}
.Select-item-label {
  cursor: default;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 5px;
  font-size: 12px;
  margin-top: -6px;
}
.Select-item-label .Select-item-label__a {
  color: #007eff;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 0px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select-item-icon:active {
  background-color: rgba(0, 126, 255, 0.24);
}
.Select.is-multi.is-disabled .Select-item {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #888888;
}

.Select.is-multi.is-disabled .Select-item-icon {
  cursor: not-allowed;
  border-right: 1px solid #d9d9d9;
}
.Select.is-multi.is-disabled .Select-item-icon:hover,
.Select.is-multi.is-disabled .Select-item-icon:focus,
.Select.is-multi.is-disabled .Select-item-icon:active {
  background-color: #f2f2f2;
}

.is-disabled > .Select-control {
    border-color: #E2E2E2;
}

/*
.is-disabled > .Select-control > .Select-placeholder {
    color: #AFAFAF;
}
*/

.has-error > div > .Select-control {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
}

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
